<!-- renders the post cards in Home and Your Posts (in profile page) -->

<div class="col-lg-2 col-sm-6 col-md-3">
                <a href="/api/posts/viewpost/{{id}}">
                    <div class="card mt-3 mouse-over">
                        <img src="{{image_url}}" class="card-img-top">
                    </div>
                </a>
            </div>
