<!-- renders the post cards in Home and Your Posts (in profile page) -->

<div class="col-2">
                <a href="/api/posts/viewpost/{{id}}">
                    <div class="card mt-3 mouse-over">
                        <img src="{{image_url}}" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">{{post_caption}}</p>
                        </div>
                    </div>
                </a>
            </div>