<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- favicon stylesheet -->
    <script src="https://kit.fontawesome.com/e8bd13e220.js" crossorigin="anonymous"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">  
    <!-- stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>QuarantinePics</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light nav-background">
        <div class="container-fluid navbar-text">
            <a class="navbar-brand" href="#">QuarantinePics</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notifications</a>
                    </li>
                </ul>
            </div>
            <!-- search bar on right side in nav bar -->
            <form class="d-flex justify-content-end">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn search-btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <a href = "https://github.com/" class="dot"></a> <!-- github link if just a placeholder right now (will redirect to user profile in the future) --> 
        </div>
    </nav>
    <!-- navbar ends -->
    <main> 
        {{{ body }}}
    </main>
</body>
</html>