<main>
    <!-- renders posts of all users --> 
    <div class="container col-12">
        <div class="row">
            {{#each posts as |post|}}
            {{> post post}}
            {{/each}}
        </div>
    </div>
</main>