<head>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>
<!-- renders posts of all users -->
<div class="container col-12">
    <div class="row">
        {{#each posts}}
        <div class="col-lg-2 col-sm-6 col-md-3">
            <a href="/api/posts/viewpost/{{id}}">
                <div class="mt-3 mouse-over card-image">
                    <img id="homepage-post-imgs" src="{{image_url}}" class="card-img-top">
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>