<main>
    <div class="container col-12">
        <div class="row">
            {{#each posts as |post|}}
            <!-- renders elements from post.handlebars -->
            {{> post post}}
            {{/each}}
        </div>
    </div>
</main>