<head>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>
    <div class="container">
        <h2 class="col mt-4 d-flex justify-content-center mt-5 mb-4 your-posts">Liked Posts</h2>
    </div>
    <div class="row">
        {{#each likedPosts as |aPost|}}
        {{> post aPost.post}}
        {{/each}}
    </div>
    {{!-- {{#if posts.length}}
    <!-- posts go here -->

    {{#each posts as |aPost|}}
    <img src="{{aPost.image_url}}" class="card-img-top">
    {{> post aPost}}
    {{/each}}

    {{/if}} --}}
