<div class="d-flex justify-content-center">
    {{!-- <span class="profile-pic mb-4 mt-5"></span> --}}
    <div id="pfp"> {{> pfp this}}</div>
</div>
<h1 class="d-flex justify-content-center mb-2 profile-username">{{username}}</h1>
<div class="d-flex justify-content-center">
    <button type="button" class="btn create-post-btn" id="create-post">Create Post</button>
</div>

<section>
    <div class="container">
        <h2 class="col mt-4 d-flex justify-content-center mt-5 mb-4 your-posts">Your Posts</h2>
    </div>

    {{#if posts.length}}
    <!-- posts go here -->
    {{!-- Added row --}}
    <div class="row">
        {{#each posts as |post|}}
        {{> post post}}
        {{/each}}
    </div>
    {{/if}}
</section>
<input type="hidden" value={{user_id}} id="session_user">
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script src="/javascript/profile-page.js"></script>