<div class="d-flex justify-content-center">
    <span class="profile-pic mb-4 mt-5"></span>
</div>
<h1 class="d-flex justify-content-center mb-2 profile-username">{{posts.[0].user.username}}</h1>
<div class="d-flex justify-content-center">
    <button type="button" class="btn create-post-btn" id="create-post">Create Post</button>
</div>

<section>
    <div class="container">
        <h2 class="col mt-4 d-flex justify-content-center mt-5 mb-4 your-posts">Your Posts</h2>
    </div>
    <div class="container col-12">
        <div class="row">
            <!-- if user has existing posts... render them --> 
            {{#if posts.length}}

            <!-- users posts go here -->
            {{#each posts as |post|}}
            {{> post post}}
            {{/each}}

            {{/if}}
        </div>
    </div>

</section>

<script src="/javascript/profile-page.js"></script>