 <div class="d-flex justify-content-center">
            <span class="profile-pic mb-4 mt-5"></span>
        </div>
        <h1 class="d-flex justify-content-center mb-2 profile-username">user123{{username}}</h1>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn create-post-btn" id="create-post">Create Post</button>
        </div>

        <section>
            <div class="container">
                <h2 class="col mt-4 d-flex justify-content-center mt-5 mb-4 your-posts">Your Posts</h2>
            </div>
                <!-- posts go here -->
                
                
        </section>