<head>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
</head>

<div class="mt-5">
    {{!-- profile photo --}}
    <div class="d-flex justify-content-center">
        <div id="pfp"> {{> pfp this}}</div>
    </div>
    {{!-- username --}}
    <h1 class="d-flex justify-content-center mb-2 mt-3 profile-username">{{username}}</h1>
    {{!-- 'create post' button that re-routes to /image --}}
    <div class="d-flex justify-content-center">
        <button type="button" class="btn create-post-btn" id="create-post">Create Post</button>
    </div>
</div>
<div class="container">
    <h2 class="col mt-4 d-flex justify-content-center mt-5 mb-4 your-posts">Your Posts</h2>
</div>
    <div class="container col-12">
        {{#if posts.length}}
        <!-- posts go here -->
        <div class="row">
            {{#each posts}}
            <div class="col-lg-2 col-sm-6 col-md-6">
                <a href="/api/posts/viewpost/{{id}}">
                    <div class="mt-3 mouse-over card-image">
                        <img src="{{image_url}}" class="card-img-top">
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>

{{!-- hidden input value to retrieve user_id --}}
<input type="hidden" value={{user_id}} id="session_user">

{{!-- scripts --}}
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script src="/javascript/profile-page.js"></script>