<link rel="stylesheet" href="/stylesheets/image-upload.css">
<main>
    <div class="container col-12">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="card mt-3 drop-shadow" id="post-image-card">
                    <img id="post-image" src="{{post.image_url}}" class="card-img-top">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group py-3">
                    <p>{{post.post_caption}}</p>
                    <p>{{tags}}</p>
                </div>
            </div>
        </div>
    </div>
</main>
{{!-- Cloudinary upload widget --}}
{{!--
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"> --}}
</script>
{{!--
<script src="./js/image.js"></script> --}}