/* Add drop shadow */
.drop-shadow {
  filter: drop-shadow(2px 2px 0.2rem black);
}

#post-image-card {
  max-height: fit-content;
  max-width: auto;
}
#post-image {
  max-height: fit-content;
  max-width: auto;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.fill-in-image {
  object-fit: cover;
  max-height: 50%;
  max-width: 50%;
}

.fill-in {
  max-height: 100%;
  max-width: 100%;
}
