/* Vlads image-upload style just incase! */
/* Add drop shadow */
/* .drop-shadow {
  filter: drop-shadow(2px 2px 0.2rem black);
}

#post-image-card {
  max-height: fit-content;
  max-width: auto;
}
#post-image {
  max-height: fit-content;
  max-width: auto;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
} */
/* .fill-in-image {
  object-fit: cover;
  max-height: 50%;
  max-width: 50%;
} */

/* .fill-in {
  max-height: 100%;
  max-width: 100%;
} */

/* Vlads image-upload style just incase! */

:root {
  --smoky-black: #1c110a;
  --dutch-white: #e4d6a7;
  --yellow-sun: #e9b44c;
  --rufous: #9b2915;
  --cadet-blue: #50a2a7;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #fff;
  min-height: 100vh;
}

.image {
  max-width: 100%;
}

.caption-section-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 68px 100px;
  background-color: #fff;
}

/* single-post image view */
.card-img-top {
  border-radius: 10px;
}

.btn-like {
  max-width: 5%;
  max-height: 10%;
  background-color: var(--cadet-blue);
}

.post-user {
  font-family: "Josefin Sans";
  font-size: 25px;
}

.dot-single-post {
  height: 70px;
  width: 70px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

@media (max-width: 991px) {
  .caption-section-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.caption-wrapper {
  width: 300px;
  max-width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media (max-width: 575px) {
  .caption-wrapper {
    width: 100%;
    padding: 5px 5px;
  }
}
.caption-wrapper label {
  font-size: 14px;
  font-weight: bold;
  color: #b0adad;
}
.caption-wrapper .form-control {
  border: none;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
  padding: 9px 5px;
  min-height: 40px;
  font-size: 18px;
  font-weight: normal;
}
.caption-wrapper .form-control::-webkit-input-placeholder {
  color: #b0adad;
}
.caption-wrapper .form-control::-moz-placeholder {
  color: #b0adad;
}
.caption-wrapper .form-control:-ms-input-placeholder {
  color: #b0adad;
}
.caption-wrapper .form-control::-ms-input-placeholder {
  color: #b0adad;
}
.caption-wrapper .form-control::placeholder {
  color: #b0adad;
}
.caption-wrapper .btn-success {
  padding: 13px 20px;
  background-color: #006666;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 14px;
  justify-content: center;
  display: flex;
}
.caption-wrapper .btn-success:hover {
  border: 1px solid #fdbb28;
  background-color: #fff;
  color: #fdbb28;
}

.caption-wrapper-footer-text {
  font-size: 16px;
  color: #000;
  margin-bottom: 0;
}

.caption-title {
  font-size: 30px;
  color: #000;
  font-weight: bolder;
  /* margin-bottom: 25px; */
  text-align: center;
  padding: 20px 20px;
}

.add-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -o-object-position: center;
  object-position: center;
}
@media (max-width: 575px) {
  .add-img {
    width: 100%;
    height: 75%;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
  .flex-container {
    flex-direction: column;
  }

  .btn-success {
    padding: 20px 20px;
    text-align: center;
    margin: auto;
  }

  .caption-section-wrapper {
    padding: 20px 20px 0px 0px;
    margin: 0%;
  }
  .caption-wrapper .form-control {
    border-style: dotted;
    border-width: 1px;
  }
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
.flex-container > div {
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

#tag {
  margin-right: 20px;
}
