:root {
  --smoky-black: #1c110a;
  --dutch-white: #e4d6a7;
  --yellow-sun: #e9b44c;
  --rufous: #9b2915;
  --cadet-blue: #50a2a7;
}

/* Remove everything from a tags */
a {
  text-decoration: none;
  color: var(--smoky-black);
}
a:hover {
  text-decoration: none;
  color: var(--smoky-black);
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--smoky-black);
}
/* google fonts available : 'Josefin Sans' and 'Baloo 2' */

/* navbar styles */
.nav-background {
  background-color: var(--yellow-sun);
}

.navbar-text {
  font-size: 20px;
  font-family: "Josefin Sans";
  font-weight: bold;
}

/* .search-btn {
  background-color: var(--yellow-sun);
} */

.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /* background-image: background image goes here */
}

/* homepage display styles */
.card-custom {
  border-radius: 10px 10px 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-color: var(--smoky-black);
}


.card-img-custom {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body-custom {
  background-color: #f5f5f5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}

.card-text-custom {
  font-family: "Baloo 2";
  font-size: 15px;
}

/* .col-lg-2 {
  margin-bottom: -50px;
} */

/* profile styles */
.profile-pic {
  height: 200px;
  width: 200px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.profile-username {
  font-family: "Josefin Sans";
}

.create-post-btn {
  width: 30%;
  background-color: #bfd7b5;
  border: 3px;
  border-color: var(--smoky-black);
  border-style: double;
  margin: auto;
  font-family: "Josefin Sans";
}

.your-posts {
  font-family: "Josefin Sans";
  font-size: 40px;
  font-weight: bold;
}

.mouse-over {
  filter: drop-shadow(2px 2px 0.05rem black);
  filter: blur(0);
  transition: 0.2s;
}

.mouse-over:hover {
  filter: drop-shadow(2px 2px 0.2rem black);
  filter: blur(2px);
  transform: scale(1.05);
}

/* Have the text show up on top of the card  */
.overlay-text {
  position: relative;
  top: 0%;
  left: 0%;
  transform: translate(0%, -100%);
  z-index: 9999;
  color: var(--dutch-white);
  opacity: 0;
  transition: 0.2s;
}
.overlay-text:hover {
  opacity: 1;
}

/* General text styling  */
.text {
  font-family: "Roboto", sans-serif;
  /* font-weight: bold; */
  color: var(--smoky-black);
}


.search-box {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background: var(--cadet-blue);
  height: 40px; 
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt {
  width: 200px; 
  padding: 0 6px;
}

/* .search-box:hover > .search-btn {
  background: white;

} */

.search-btn {
  color: var(--smoky-black);
  float: right; 
  border-radius: 50%; 
  /* background: var(--dutch-white);  */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt {
  border: none; 
  background: none;
  outline: none; 
  float: left; 
  padding: 0; 
  color: white; 
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

